body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Container styling */
.container {
    background-color: rgb(206, 70, 93);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}
/* Heading styling */
h1 {
    color: rgb(22, 175, 180);
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Paragraph styling */
p {
    color: white;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
    margin: 0 auto;
    max-width: 700px;
}
/* Link styling */
a {
    color: skyblue;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
/* Button styling */
button {
    background-color: pink;
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(175, 52, 52);
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hover effect for hidden message */
#hover-text {
    font-weight: bold;
    color: transparent;
    transition: color 0.3s ease;
}

#hover-text:hover {
    color: orangered; 
}